<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo</title>

</head>
<body class="bg-sky-500">
{% block content %}
{% endblock %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/htmx.org@1.8.2"></script>
<script>
    document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
    });

    document.body.addEventListener('htmx:afterRequest', (event) => {
    document.querySelector('input.title').value = '';
    });
</script>
</body>

</html>